.lists {
  padding-top: 80px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 15px;
}

.lists-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.btn {
  color: white;
}
